@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --ubuntu-font-family: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #3b3b3b;
}
